<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET" />

	<permission
		android:name="org.skepsun.kototoro.permission.BIND_TVBOX_COMPANION"
		android:protectionLevel="signature" />

	<application
		android:name="com.github.tvbox.osc.base.App"
		android:allowBackup="false"
		android:hasCode="true"
		android:label="TVBox Runtime Companion">

		<activity
			android:name="org.skepsun.kototoro.tvbox.companion.TVBoxCompanionBootstrapActivity"
			android:enabled="true"
			android:excludeFromRecents="true"
			android:exported="true"
			android:finishOnTaskLaunch="true"
			android:noHistory="true"
			android:permission="org.skepsun.kototoro.permission.BIND_TVBOX_COMPANION"
			android:theme="@android:style/Theme.Translucent.NoTitleBar" />

		<provider
			android:name="org.skepsun.kototoro.tvbox.companion.TVBoxCompanionBootstrapProvider"
			android:authorities="com.github.tvbox.osc.tvbox.bootstrap"
			android:enabled="true"
			android:exported="true"
			android:permission="org.skepsun.kototoro.permission.BIND_TVBOX_COMPANION" />

		<service
			android:name="org.skepsun.kototoro.tvbox.companion.TVBoxCompanionService"
			android:enabled="true"
			android:exported="true"
			android:permission="org.skepsun.kototoro.permission.BIND_TVBOX_COMPANION">
			<intent-filter>
				<action android:name="com.github.tvbox.osc.action.BIND_TVBOX_RUNTIME" />
			</intent-filter>
		</service>

	</application>
</manifest>
